@use '../../styles/styleguide/unit' as u;
@use '../../styles/styleguide' as sg;
@use '../../styles/styleguide/media' as mq;
@use '../../styles/styleguide/typography' as typo;

.card {
  position: relative;
  background: sg.color(white);
  padding: sg.$small;
  text-align: left;
  cursor: pointer;

  @include mq.min(tabletLandscape) {
    padding: sg.$small;
    max-height: u.rem-calc(579);
  }

  @include mq.min(laptopSmall) {
    padding: sg.$regular;
  }

  @include mq.min(laptop) {
    max-height: 100%;
  }

  &:hover {
    .tag {
      background: sg.color(black);
      color: sg.color(white);
      border: 1px solid sg.color(white);
    }
  }

  a {
    z-index: 8;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    @include typo.xsmall;
    color: sg.color(black);
    font-weight: 400;

    @include mq.min(tabletLandscape) {
      @include typo.small;
    }
  }

  .tag {
    display: flex;
    align-items: center;
    border: 1px solid sg.color(black);
    padding: u.rem-calc(8) u.rem-calc(12);
    border-radius: u.rem-calc(20);
    @include typo.small;
    font-weight: bold;
    width: fit-content;
    height: u.rem-calc(32);
    text-transform: capitalize;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .image__container {
    position: relative;
    margin: u.rem-calc(15) 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .shimmer {
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite linear;
    }

    .image {
      width: 100%;
      height: u.rem-calc(228);
      display: block;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;

      @include mq.min(laptop) {
        height: u.rem-calc(441);
      }
    }

    .hidden {
      opacity: 0;
    }
  }

  .content {
    position: relative;
  }

  .title {
    @include typo.medium;
    font-weight: bold;
    margin: u.rem-calc(10) 0;

    @include mq.min(tabletLandscape) {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: nowrap;
    }
  }

  .description {
    @include typo.regular;
    color: sg.color(black);
    font-weight: 300;
    line-height: u.rem-calc(28);
    height: 100%;

    @include mq.min(tabletLandscape) {
      height: u.rem-calc(86);
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; // Adjust this number to control visible lines
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 100%;
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: u.rem-calc(8);

    @include mq.min(laptopSmall) {
      flex-direction: row;
    }

    .text, .duration {
      display: flex;
      gap: u.rem-calc(4);
      @include typo.small;
      color: sg.color(black);
      font-weight: 400;

      strong {
        font-weight: 700;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
