@use '../../styles/styleguide/unit' as u;
@use '../../styles/styleguide' as sg;
@use '../../styles/styleguide/media' as mq;
@use '../../styles/styleguide/typography' as typo;

.card {
  position: relative;
  background: sg.color(white);
  padding: sg.$small;
  text-align: left;

  @include mq.min(tabletLandscape) {
    padding: sg.$regular;
    max-height: u.rem-calc(579);
  }

  @include mq.min(laptop) {
    max-height: 100%;
  }

  a {
    z-index: 8;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    @include typo.xsmall;
    color: sg.color(black);
    font-weight: 400;

    @include mq.min(tabletLandscape) {
      @include typo.small;
    }
  }

  .tag {
    display: flex;
    align-items: center;
    border: 1px solid sg.color(black);
    padding: u.rem-calc(8) u.rem-calc(12);
    border-radius: u.rem-calc(20);
    @include typo.small;
    font-weight: bold;
    width: fit-content;
    height: u.rem-calc(32);
    text-transform: capitalize;
  }

  .imageContainer {
    margin: u.rem-calc(15) 0;
    overflow: hidden;

    img {
      width: 100%;
      height: u.rem-calc(228);
      display: block;
      object-fit: cover;

      @include mq.min(laptop) {
        height: u.rem-calc(441);
      }
    }
  }

  .content {
    position: relative;
  }

  .title {
    @include typo.medium;
    font-weight: bold;
    margin: u.rem-calc(10) 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .description {
    @include typo.regular;
    color: sg.color(black);
    font-weight: 300;
    line-height: u.rem-calc(28);
  }

  .meta {
    display: flex;
    justify-content: space-between;
    @include typo.xsmall;
    color: #666;
    margin-top: 10px;

    @include mq.min(tabletLandscape) {
      @include typo.small;
    }

    strong {
      color: #000;
    }
  }
}
