$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$main-font: 'DMSans', $system-font-stack;

/* Box sizing resets */
:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Remove margin from body */

body {
  margin: 0;
}

/* Shared styles */

body {
  &.no-scroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
}
