@use '../../styles/styleguide/unit' as u;
@use '../../styles/styleguide' as sg;
@use '../../styles/styleguide/media' as mq;
@use '../../styles/styleguide/typography' as typo;

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: u.rem-calc(8);
  padding: 0;
  margin: 0;
  list-style: none;

  @include mq.min(medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mq.min(laptopSmall) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .article {
    position: relative;
    border: 1px solid sg.color(black);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @include mq.min(tabletLandscape) {

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 u.rem-calc(20) u.rem-calc(40) rgba(0, 0, 0, 0.1);
      }
    }
  }
}