@use '../../../styles/styleguide/unit' as u;
@use '../../../styles/styleguide' as sg;
@use '../../../styles/styleguide/media' as mq;
@use '../../../styles/styleguide/typography' as typo;

.footer {
  background: sg.color(black);
  color: sg.color(white);

  .wrapper {
    @include typo.medium;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: u.rem-calc(20) 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .marquee {
    display: flex;
  }

  .container {
    max-width: u.rem-calc(1400);
    margin: auto;
    padding: 0 sg.$small sg.$medium sg.$small;

    .newsletter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: left;

      @include mq.min(tabletLandscape) {
        flex-direction: row;
      }

      h2 {
        @include typo.large;

        @include mq.min(laptopSmall) {
          @include typo.xxlarge;
          width: 50%;
        }
      }

      a {
        width: 100%;
        @include mq.min(tabletLandscape) {
          width: u.rem-calc(330);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      flex-wrap: wrap;

      .brand {
        @include typo.regular;
        font-weight: bold;
        margin: 0;
      }

      .links {

        ul {
          display: flex;
          gap: sg.$xxsmall;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            a {
              @include typo.small;
              margin-bottom: 0;
              color: sg.color(white);
              cursor: pointer;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .social {
      @include typo.small;
      margin-top: sg.$regular;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
      }

      .icons {
        display: flex;
        gap: sg.$xxsmall;

        svg {
          fill: sg.color(white);
          cursor: pointer;
          transition: transform 0.2s ease-in-out;

          &:hover {
            animation: bounce 0.6s ease-out forwards;
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-2.5px);
  }
  100% {
    transform: translateY(0);
  }
}