
@use '../../stdlib/map' as map;
@use 'sass:color';

// always name colors with
// https://chir.ag/projects/name-that-color
$_config: (
  white: #FFFFFF,
  black: #000000,
  lightBlack: #252525,
  coolBlue: #4A90E2,
  darkBlue: #1E3A5F,
  darkGray: #888888,
  gold: #C9A227,
);

/// Retrieves a color value from the configuration map.
/// @param {"black" | "black10" | "black20" | darkGray | "dove" | "swan" | "vista" | "cararra" | "white" | "white20" | "white50" | "white70" | "error" | "error20" | "success" | "current" | "shadow"} $key
/// @returns {Color} The corresponding color value from the configuration map.
@function color($key) {
  @return map.get-strict($_config, $key);
}
