// Typography
// ===============================================

@use './unit' as u;
@use '../styleguide/font-faces';

$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$main-font: 'DMSans', $system-font-stack;

@mixin xxxlarge {
  line-height: 120%;
  font-size: u.rem-calc(90);
  font-style: normal;
  font-family: $main-font;
}

@mixin xxlarge {
  line-height: 120%;
  font-size: u.rem-calc(80);
  font-style: normal;
  font-family: $main-font;
}

@mixin xlarge {
  line-height: 120%;
  font-size: u.rem-calc(64);
  font-style: normal;
  font-family: $main-font;
}

@mixin large {
  font-size: u.rem-calc(48);
  font-style: normal;
  line-height: 120%;
  font-family: $main-font;
}

@mixin medium {
  font-family: $main-font;
  font-size: u.rem-calc(24);
  font-style: normal;
  line-height: 140%;
}

@mixin regular {
  font-family: $main-font;
  font-size: u.rem-calc(16);
  font-style: normal;
  line-height: 140%;
}

@mixin small {
  font-family: $main-font;
  font-size: u.rem-calc(14);
  font-style: normal;
  line-height: 140%;
}

@mixin xsmall {
  font-family: $main-font;
  font-size: u.rem-calc(12);
  font-style: normal;
  line-height: 120%;
}
