@use '../../styles/styleguide/unit' as u;
@use '../../styles/styleguide' as sg;
@use '../../styles/styleguide/media' as mq;
@use '../../styles/styleguide/typography' as typo;

.article__details {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__wrapper {
    width: 100%;
    margin-bottom: sg.$small;
    border-bottom: 1px solid sg.color(black);
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mq.min(tabletLandscape) {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &__author {
    display: flex;
    gap: u.rem-calc(16);
    align-items: center;
    @include typo.medium;
    font-weight: 700;
    padding: sg.$xsmall 0 sg.$xsmall 0;

    p {
      margin: 0;
    }

    img {
      width: u.rem-calc(60);
      height: u.rem-calc(60);
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: u.rem-calc(4);
    align-items: center;
    @include typo.small;
    font-weight: 700;
    margin: 0;
    padding-bottom: sg.$xxsmall;

    @include mq.min(tabletLandscape) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__date, &__duration {
    display: flex;
    justify-content: space-between;
    gap: u.rem-calc(4);
    align-items: center;
    @include typo.small;
    font-weight: 700;
    margin: 0;
    padding-bottom: sg.$xxsmall;

    @include mq.min(tabletLandscape) {
      @include typo.regular;
      width: 100%;
    }

    span {
      font-weight: 300;
    }
  }

  &__social {
    display: none;
    justify-content: space-between;
    align-items: center;
    @include typo.small;
    font-weight: 700;
    padding-bottom: sg.$xxsmall;

    @include mq.min(tabletLandscape) {
      display: flex;
      @include typo.regular;
      width: 100%;
    }

    p {
      margin: 0;
    }

    svg {
      transition: transform 0.2s ease-in-out;

      &:hover {
        animation: bounce 0.6s ease-out forwards;
      }
    }
  }

  .image__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .shimmer {
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
      background-size: 100% 100%;
      animation: shimmer 1.5s infinite linear;
    }
  }

  .image {
    width: 100%;
    height: u.rem-calc(360);
    object-fit: cover;
    object-position: center;
    transition: opacity 0.5s ease-in-out;

    @include mq.min(tabletPortrait) {
      height: u.rem-calc(500);
    }

    @include mq.min(tabletLandscape) {
      height: u.rem-calc(286);
    }

    @include mq.min(laptopSmall) {
      height: u.rem-calc(380);
    }

    &.hidden {
      opacity: 0;
    }
  }

  &__btn {
    display: none;

    @include mq.min(tabletLandscape) {
      display: flex;
      width: 100%;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-2.5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
