@use '../../../styles/styleguide/unit' as u;
@use '../../../styles/styleguide' as sg;
@use '../../../styles/styleguide/media' as mq;
@use '../../../styles/styleguide/typography' as typo;

.article {
  position: relative;
  padding: 0 sg.$xsmall sg.$small sg.$xsmall;

  @include mq.min(tabletLandscape) {
    padding: u.rem-calc(42) sg.$large sg.$xlarge sg.$large;
  }

  .container {
    max-width: 100%;

    @include mq.min(tabletLandscape) {
      max-width: u.rem-calc(1050);
      margin: auto;
    }

    .grid {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: u.rem-calc(24);

      @include mq.min(tabletLandscape) {
        grid-template-columns: minmax(0, .3fr) minmax(0, .7fr);
        gap: u.rem-calc(96);
      }
    }
  }

  &__sidebar {
    position: static;

    @include mq.min(tabletLandscape) {
      position: sticky;
      top: sg.$small;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    @include typo.regular;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__tag {
    display: flex;
    align-items: center;
    border: 1px solid sg.color(black);
    padding: u.rem-calc(8) u.rem-calc(12);
    border-radius: u.rem-calc(20);
    @include typo.small;
    font-weight: bold;
    width: fit-content;
    height: u.rem-calc(32);
    text-transform: capitalize;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  &__content {
    h1 {
      @include typo.large;
      margin-top: sg.$xxxsmall;
      margin-bottom: sg.$small;

      @include mq.min(tabletLandscape) {
        @include typo.xxlarge;
      }

      @include mq.min(laptopSmall) {
        @include typo.xxxlarge;
      }
    }

    p, ul, li, ol, a {
      @include typo.regular;
      font-weight: 400;
      line-height: 180%;
    }

    ul {
      padding-left: sg.$xsmall;
    }

    a {
      color: sg.color(darkGray);
      text-decoration: u.rem-calc(2) underline;
      text-underline-offset: u.rem-calc(4);
      font-weight: 500;
      position: relative;
      transition: color 0.3s ease-in-out;

      &:hover {
        text-decoration: none;
        color: sg.color(coolBlue);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: u.rem-calc(-2);
        width: 100%;
        height: u.rem-calc(2);
        background: currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    code {
      background: #2f2f2f;
      color: #FFFFFF;
      padding: u.rem-calc(4) u.rem-calc(8);
    }

  }
}